@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap'); 

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flexbox;
    /* background-color: #ECCC74; */
}

#container{
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

/* MENU  */

.nav-menu{
  display: flex;
  background: linear-gradient(to left, var(--color-marrom-claro), var(--color-bege));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-bottom: var(--color-marrom-escuro) 1px solid;
}

header{
  display: block;
  position: fixed;
  z-index: 5;
  margin: 0;
  padding: 0;
}

.nav-menu > img{
  width: 40vw;
  padding-bottom: 15px;
  margin: auto 36px;
  
}

.menu{
  list-style: none;
  display: flex;
  margin: auto;
  width: 100vw;
}

.menu > .title-menu > a{
  text-decoration: none;
  color: black;
  padding: 0 15px;
}

.menu > .title-menu > a:hover{
  border-bottom: 2px solid var(--color-marrom-escuro);
}

.menu > .title-menu > a:active{
  color: var(--color-marrom-claro);
}

.my-home{
  border-bottom: 2px var(--color-marrom-escuro) solid;
}

.logoHeaderResp{
  display: none;
}

.social-icons:hover{

}

.small-img{
  margin: 2vh 2vw 2vh 1vw;
  width: 2vw;
}

/* FIM DO MENU */

.principais{
  margin-top: 5%;
  height: 400px;
  width: 100%;
  padding-top: 2%;
  background-color: #fff5cc;
}

.title > img{
  width: 3.75em;
  position: static;
  float: left;
}

.title > h1{
  font-weight: 700;
  float: left;
  margin: 2% 0 5% 1%;
}

.prato{
  list-style: none;
  width: 20%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.principais > #container > ul{
  float: left;
}

.prato > a{
  text-decoration: none;
  font-weight: 700;
  color: #000;
  
}

.prato > a > img{
  width: 100%;
  height: 100%;
}

.prato > a > p{
  text-align: center;
}

.detalhes-esq{
  background-color: #ECCC74;
  width: 100%;
  height: 40%;
  float: left;

}

.detalhes-dir{
  background-color: #fff5cc;
  width: 100%;
  height: 40%;
  float: left;
  
}

.detalhes-esq > #container > .title{
  margin-top: 2%;
}

.cont-detalhes{
  float: left;
}

.cont-detalhes > img{
  width: 40%;
  margin-bottom: 5%;
  margin-left: 3%;
}
.detalhes-esq > #container > .cont-detalhes > img{
  float: left;
}

.detalhes-esq > #container > .cont-detalhes > p{
  width: 50%;
  float: left;
  margin-left: 5%;
}

.detalhes-dir > #container > .cont-detalhes > img{
  float: right;
}
.detalhes-dir > #container > .cont-detalhes > p{
  width: 50%;
  float: right;
  margin-left: 5%;
}

.detalhes-dir > #container > .title{
  margin-top: 5%;
}

.cardapio{
  width: 100%;
  height: 500px;
  background-image: url("img/bg-cardapio.jpg");
  margin: 20%;
}








/****
#section-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones{
    margin: 2vh 2vw 0.1vh 1vw;
    width: 3.5vw;
}

footer{
    padding: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: #B47110;
}

#rodape{
    padding: 3vh;
    font-size: 1.5vh;
}

****/