@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --color-marrom-claro: #B47110;
    --color-marrom-escuro: #502600;
    --color-bege: #ECCC74;
    --color-bege-white: #FFEB99;   
}

/* color */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--color-marrom-escuro);
    box-sizing: border-box;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var( --color-bege-white);
}
a {
    text-decoration: none;
    font-size: 20px;
    color: var(-color-marrom-escuro);
}
form {
    margin: 1%;
}
span {
    font-weight: bold;
}

/* globais */

#main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
}
.icon {
    margin-top: 5vh;
}
#siganos {
    display: flex;
    justify-content: space-around;
}
.contactEmail {
    margin: 5%;
}
#siganos > h3 {
    margin: 5%;
}
#comidas {
   display: flex;
   flex-direction: column;
   width: 85vw;
   margin: 0 auto;
}
.hPratos{
    font-size: 30px;
    text-align: left;
}
.card{
    margin: 2%;
    background-color: var( --color-bege-white);   
}
.imgComida{
    width: 320px;
    height: 250px;
    margin: 3%;
    display: flex;
    justify-content: center;
}
.itensCard {
    display: flex;
    justify-content: space-between;
}
.contPratos{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
.pratos {
    font-size: 24px;
    margin-bottom: 0.5vh;
    font-weight: bold;
    width: 15vw;
}
.photo {
    width: 15vw;
    height: 20vh;
    margin-bottom: 2vh;
    border-radius: 20px;
}
.contPhoto {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.textCard {
    display: flex;
    margin-left: 3vw;
    justify-content: center;
}
.textCarda {
    display: flex;
    margin-bottom: 4vh;
}
.textCarda h2{
    padding: 1.5%;
    margin-bottom: 1%;
}
.textCard h1{
    padding: 1.5%;
    font-size: 35px;
}
.logoGlob {
    width: 60px;
}
.bold {
    font-weight: bold;
}


/* detalhes popup js */

#infos {
    display: flex;
    justify-content: space-around;
    width: 43vw;
    margin: 0 auto; 
}

#imagemFic {
    border-radius: 8px;
    
}
#infosComida {
    margin: 1%;
}
#infosComida p {
    margin-bottom: 1.5vh;
}

/* POP UP*/
.popUp {
    width: 50vw;
    height: 50vh;
    background-color: #B47110;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    border-radius: 10px;
}
#nomeComida {
    margin: 2.5%;
    font-size: 35px;
    font-weight: bold;
}

.closePop{
    text-align: right;
    margin: 1%;
    font-size: 20px;
    font-weight: bold;
}
#imgTest {
    width: 100vw;
    margin-top: -3vh;
    margin-bottom: 5vh;
}
.logoComida{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}
#imgCont {
    width: 65px;
}


/*CONFIG DO NAVBAR E FOOTER THAYZA*/

#section-header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 22vh;
    background-color: #ECCC74;
}

#logomarca{
    margin: 2vh;
    width: 45vw;
}

nav{
    margin-top: -11vh;
    margin-left: 50vw;
}

.menu, ul, li{
    display: inline;
    list-style: none;
}

.menu{
    margin-left: 1vw;
    font-size: 3vh;
}

a{
    color: #000000;
    text-decoration: none;
}
footer{
    padding: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: #B47110;
}

#rodape{
    padding: 3vh;
    font-size: 1.5vh;
}

#section-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones{
    margin: 2vh 2vw 0.1vh 1vw;
    width: 2vw;
}


/* responsividade Italo */

@media (max-width: 1360px){
    #main{
        margin-top: 23vh;
    }
}
@media (max-width: 1200px){
    #infos {
        flex-direction: column;
        text-align: center;
    }
    #imagemComida{
        margin: 0 auto;
    }
    #imagemComida > img {
        margin: 4%;
    }
    #imagemFic {
        width: 200px;
        height: 220px;
    }
}
@media (max-width: 1100px){
    #main{
        margin-top: 18vh;
    }
    #nomeComida{
        font-size: 30px;
    }
.textCarda {
    justify-content: center;
}
}
@media (max-width: 1000px){
    .photo {
        height: 15vh;
        width: 18vw;
    }
}
@media (max-width: 860px){
    #siganos {
        flex-direction: column;
        justify-content: unset;
        width: 100vw;
        text-align: center;
        width: 100vw;
    }
    .popUp {
        width: 70vw;
        height: 40vh;
    }
    .logoGlob{
        width: 40px;
    }
    .textCard h1 {
        font-size: 25px;
    }
    .textCarda h2 {
        font-size: 22px;
    }
    .card {
        text-align: center;
    }
    .pratos {
        width: 18vw;
    }
    #comidas {
        flex-direction: none;
    }
    .pratos {
        font-size: 20px;
    }
    #nomeComida{
        font-size: 25px;
    }

}
