@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    background-color: #FFEB99;
    font-family: 'Poppins', sans-serif;
}

/* Menu fixo */

#section-header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 22vh;
    background-color: #ECCC74;
    border-bottom: 3px solid #B47110;
}

#logomarca{
    margin: 2vh;
    width: 45vw;
}

nav{
    margin-top: -11vh;
    margin-left: 50vw;
}

.menu, ul, li{
    display: inline;
    list-style: none;
}

.menu{
    margin-left: 1vw;
    font-size: 3vh;
}

a{
    color: #000000;
    text-decoration: none;
}

/* Imagem abaixo do header */

#imagem-principal{
    width: 100%;
    margin-top: 22vh;
}


/* conteúdo do site */

#div-container{
    margin: 7vh auto 10vh auto;
    width: 80%;
}

.titulo{
    display: flex;
    border-bottom: 4px solid #B47110 ;
    margin-bottom: 2.5vh;
}

.logo-titulo{
    width: 4vw;
    margin-right: 1vw;
}

h2{
    margin-left: 0.2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}

.texto-principal{
    margin: 2vw;
    font-size: 26px;
}

#pratos-principais-imagens{
    display: flex;
    margin-left: 1.5vw;
    margin-top: 2vh;
}

#pratos-esquerda, #pratos-direita{
    height: 25vh;
}

.pratos-imagens{
    width: 17vw;
    height: 23vh;
    margin: 1vw;
    border-radius: 12px;
}


/* Rodapé */


#section-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones{
    margin: 2vh 2vw 0.1vh 1vw;
    width: 2vw;
}

footer{
    padding: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: #B47110;
}

#rodape{
    padding: 3vh;
    font-size: 1.7vh;
}

span{
    font-weight: bold;
}


/* RESPONSIVIDADE - DESKTOP */

@media (max-width: 1500px){
    nav{
        margin-left: 47vw;
        margin-top: -10.5vh;
    }
    .menu{
        font-size: 1.8vw;
    }
    .texto-principal{
        font-size: 25px;
    }
    .icones{
        width: 2.6vw;
    }
}

@media (max-width: 1460px){
    nav{
        margin-top: -10vh;
        margin-left: 47vw;
    }
    h2{
        font-size: 35px;
    }
    .texto-principal{
        font-size: 25px;
    }
    .icones{
        width: 2.5vw;
    }
}

@media (max-width: 1370px){
    #logomarca{
        width: 44vw;
    }
    nav{
        margin-left: 46.5vw;
    }
    .menu{
        font-size: 1.8vw;
    }
    #section-header{
        height: 17vh;
    }
    #imagem-principal{
        margin-top: 17.1vh;
    }
    .icones{
        width: 2.5vw;
    }
}

@media (max-width: 1250px){
    nav{
        margin-left: 45.5vw;
        margin-top: -9.5vh;
    }
    h2{
        font-size: 2.5vw;
    }
    #div-texto{
        margin-bottom: 3vh;
    }
}

@media (max-width: 1200px){
    nav{
        margin-top: -6.5vw;
    }
    .icones{
        width: 2.8vw;
    }
}

@media (max-width: 1100px){
    #section-header{
        height: 15vh;
    }
    nav{
        margin-left: 46vw;
        margin-top: -7vw;
    }
    .menu{
        font-size: 1.9vw;
    }
    #imagem-principal{
        margin-top: 11.6vw;
    }
    .icones{
        width: 3.3vw;
    }
    .texto-principal{
        font-size: 23px;
    }
}

@media (max-width: 950px){
    #logomarca{
        width: 42.3vw;
    }
    nav{
        margin-left: 45vw;
        margin-top: -7.5vw;
    }
    .menu{
        font-size: 1.9vw;
    }
    .texto-principal{
        font-size: 22px;
    }
}

@media (max-width: 900px){
    #section-header{
        height: 11.5vh;
    }
    nav{
        margin-top: -8.5vh;
    }
    #imagem-principal{
        margin-top: 11.5vh;
    }
    .texto-principal{
        font-size: 20px;
    }
    .icones{
        width: 3.5vw;
    }
}

/* LOGOMARCA SAI */

@media (max-width: 880px){
    #logomarca{
        display: none;
    }
    nav{
        width: 100%;
        margin-left: 10vw;
        margin-top: 9vh;
    }
    #section-header{
        height: 21vh;
    }
    #imagem-principal{
        margin-top: 21vh;
    }
    .menu{
        font-size: 3vw;
    }
    #div-container{
        margin-top: 2vh;
    }
    .logo-titulo{
        width: 6vw;
    }
    h2{
        font-size: 2.8vw;
    }
    #pratos-principais-imagens{
        display: block;
    }
    #pratos-esquerda, #pratos-direita{
        margin-left: 13vw;
    }
    .pratos-imagens{
        width: 25vw;
    }
}

@media (max-width: 800px){
    #section-header{
        height: 19.5vh;
    }
    #imagem-principal{
        margin-top: 19.5vh;
    }
}

@media (max-width: 750px){
    nav{
        margin-left: 7vw;
    }
    #section-header{
        height: 20vh;
    }
    #imagem-principal{
        margin-top: 20vh;
    }
    h2{
        font-size: 3vw;
    }
}

@media (max-width: 650px){
    #section-header{
        height: 18vh;
    }
    nav{
        margin-top: 8vh;
    }
    #imagem-principal{
        margin-top: 18vh;
    }
    .texto-principal{
        font-size: 18px;
    }
    h2{
        font-size: 4vw;
    }
    #pratos-principais-imagens{
        margin-left: 0vw;
    }
}

@media (max-width: 600px){
    #section-header{
        height: 16.5vh;
    }
    nav{
        margin-top: 6vh;
    }
    #imagem-principal{
        margin-top: 16.5vh;
    }
    .icones{
        width: 5vw;
    }
    #rodape{
        font-size: 13px;
    }
}

@media (max-width: 500px){
    #section-header{
        height: 15vh;
    }
    #imagem-principal{
        margin-top: 15vh;
    }
    .logo-titulo{
        width: 8vw;
    }
    #pratos-esquerda, #pratos-direita{
        margin-left: 8vw;
    }
    .pratos-imagens{
        width: 30vw;
    }
}



/* RESPONSIVIDADE - MOBILE */


@media (max-width: 414px){
    #section-header{
        height: 14vh;
    }
    nav{
        width: 100%;
        margin-top: 4vh;
        margin-left: 4vw;
    }
    .menu{
        font-size: 14px;
    }
    #imagem-principal{
        margin-top: 14vh;
    }
    .texto-principal{
        font-size: 15px;
    }
}

@media (max-width: 375px){
    nav{
        margin-top: 4vh;
        margin-left: 2vw;
    }
    .menu{
        font-size: 12.5px;
    }
}

@media (max-width: 360px){
    #section-header{
        height: 13vh;
    }
    nav{
        width: 100%;
        margin-left: 3.5vw;
        margin-top: 4vh;
    }
    .menu{
        font-size: 12px;
    }
    #imagem-principal{
        margin-top: 13vh;
    }
    h2{
        font-size: 15px;
    }
    .texto-principal{
        font-size: 15px;
    }
}

@media (max-width: 320px){
    #section-header{
        height: 14vh;
    }
    nav{
        margin-left: 2.5vw;
        margin-top: 4vh;
    }
    .menu{
        font-size: 11px;
    }
    #imagem-principal{
        margin-top: 14.1vh;
    }
    .texto-principal{
        font-size: 12px;
    }
    .icones{
        width: 6.5vw;
    }
    #rodape{
        font-size: 11px;
    }
}

@media (max-width: 280px){
    #section-header{
        height: 11vh;
    }
    .menu{
        font-size: 9px;
    }
    #imagem-principal{
        margin-top: 11.1vh;
    }
}
