@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #FFEB99;
    font-family: 'Poppins', sans-serif;
}

#section-header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: #ECCC74;
}

#logomarca{
    width: 45vw;
}

nav{
    margin-top: -8vh;
    margin-left: 45vw;
}

.menu, ul, li{
    display: inline;
    list-style: none;
}

.menu{
    margin-left: 1.5vw;
    font-size: 3vh;
    text-transform: uppercase;
}

a{
    color: #000000;
    text-decoration: none;
}

#div-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    width: 70vw;
}

#section-icons{
    display: flex;
    align-items: center;
}

.icones{
    margin: 2vw 5vw;
    width: 4vw;
}

footer{
    width: 100%;
    height: 10vh;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: #B47110;
}

#rodape{
    padding: 3.5vh;
    font-size: 2vh;
}